useDynLib(test)

export(ggarrange)
export(ggExtra)
import(digest)
import(grid)
import(gtable)
import(plyr)
import(proto)
import(reshape2)
import(scales)
import(ggplot2)
importFrom(MASS,cov.trob)
importFrom(MASS,kde2d)
importFrom(methods,setRefClass)
